@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/aeonik/Aeonik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/aeonik/Aeonik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/aeonik/Aeonik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Fono';
  src: url('./assets/aeonik-fono/AeonikFono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Fono';
  src: url('./assets/aeonik-fono/AeonikFono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-aeonik: "Aeonik", sans-serif;
  --font-aeonik-fono: "Aeonik-Fono", monospace;
  --font-inter: "Inter", sans-serif;
} 